# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/

# Uploads
uploads/

# Logs
*.log

# Database
*.db
*.sqlite

# Python
*.pyc
*.pyo
*.pyd


# Virtual env
venv/
env/
.venv/
.env/

# IDE
./vscode/
./idea/

# Flask instance chứa db
instance/

# Uploaded images (nếu có)
media/
temp/
/static


# Model files lớn
/models/
*.pt
*.pth
*.h5


# OS
.DS_Store
Thumbs.db
